.detail{
	width:100%;
	overflow:auto;
}
.detail .imgSrc{
	width:100%;
	height: 375px;
}
.detail .imgSrc img{
	width:100%;
	height:100%;
}
.detail .info{
	margin:18px 0 0 18px;
}
.detail .info .title{
	font-size:14px;
	font-weight:700;
	color:rgb(7,17,27);
	line-height:14px;
}
.detail .info .detail-des{
	font-size: 10px;
	color:rgb(147,153,159);
	line-height:10px;
	margin-top:8px;
}
.detail .info .ifpay{
	margin-top:18px;
	margin-bottom:18px;
	margin-right:18px;
	display:flex;
	justify-content: space-between;
}
.detail .info .ifpay .newPrice{
	font-size:14px;
	font-weight:700;
	color: rgb(240,20,20);
	line-height:24px;
}
.detail .info .ifpay .oldPrice{
	font-size:10px;
	font-weight:700;
	color:rgb(143,157,159);
	line-height:24px;
	text-decoration: line-through;
}
.detail .info .ifpay .pay-btn{
	font-size:10px;
	color:#fff;
	line-height:12px;
	width:74px;
	border-radius:12px;
	background:rgb(0,160,220);
	height: 24px;
	border:0;
	outline:0;
}
.detail .goods-detail{
	margin:18px 26px 0 18px;
}
.detail .goods-detail .goods-des{
	margin-bottom: 6px;
	
}
.detail .goods-detail .goods-info{
	font-size:12px;
	font-weight:200;
	line-height:24px;
	margin-bottom:18px;
	color:rgb(77,85,93);
}
.detail .goods-rating{
	margin-top:18px;
	margin-left:18px;
}
.detail .goods-rating .filter-type{
	width:100%;
	display:flex;
	padding-bottom:18px;
	margin-top: 18px;
}
.detail .goods-rating .filter-type div{
	font-size:12px;
	margin-right:8px;
	height: 16px;
	line-height:16px;
	text-align:center;
	width: 60px;
	padding: 8px;
}
.detail .goods-rating .filter-type div span{
	font-size:8px;
}
.detail .goods-rating .filter-type div.all{
	color:#fff;
	background:rgb(0,160,220);
}
.detail .goods-rating .filter-type div.recommend{
	color:rgb(77,85,93);
	background:rgba(0,160,220,0.2);
}
.detail .goods-rating .filter-type div.bad{
	color:rgb(77,85,93);
	background:rgba(77,85,93,0.2);
}
.detail .goods-rating .if-content{
	width:100%;
	margin-left:18px;
	margin-top:12px;
	padding-bottom: 12px;
}
.detail .rating-list{
	margin-left:18px;
}
.detail .rating-item {
	width:100%;
	padding:16px 0;
}
.detail .rating-item .rating-info{
	width:100d%;
	display:flex;
	justify-content: space-between;
}
.detail .rating-item .rating-info .rating-time{
	font-size:10px;
	color:rgb(147,153,159);
	line-height:12px;
}
.detail .rating-item .rating-info .rating-who span{
	font-size:10px;
	color:rgb(147,153,159);
	line-height:12px;
}
.detail .rating-item .rating-info .rating-who img{
	width: 24px;
	height: 24px;
	border-radius: 50%;
	margin-right:18px;
	margin-left:6px;
	vertical-align: middle;
}
.detail .rating-item .icon-thumb_up{
	font-size:12px;
	color:rgb(0,160,220);
	line-height:24px;
}
.detail .rating-item .rating-content .rating-word{
	margin-left:4px;
	font-size:12px;
	color:rgb(7,17,27);
	line-height:16px;
}